@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: 0.5s ease-in-out all;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  background: "#D9D9D9";
}


@layer components {

  /* button {
      @apply cursor-pointer w-fit font-bold ml-1 py-2 px-4 rounded
    }
   */
  /* form {
      @apply rounded-xl p-4
    }
   */
  /* lable {
    @apply text-[#717171]
  }

  input, select, textarea {
    @apply rounded-full bg-[#3d373763] py-3 px-6 border-none outline-none
  } */
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;


  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* our client animation */
/* .wrapper {
  overflow-x: hidden;
}

.logo {
  animation: loop-scroll 6000ms linear infinite;
}

@keyframes loop-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }

} */

/* slider buttons  */
.swiper-button-next,
.swiper-button-prev {
  top: 25px !important;
  background-color: #2E2E2E !important;
  border-radius: 100% !important;
  width: 50px !important;
  height: 50px !important;
  z-index: 100;


}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 130% !important;
  font-weight: 700 !important;
  color: white !important;
}

.bg-gradiant {
  background: rgb(11, 11, 11);
  background: linear-gradient(90deg, rgba(11, 11, 11, 1) 0%, rgba(148, 218, 33, 1) 50%, rgba(255, 255, 255, 1) 97%);
}